* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
}

/* registration area css code start */
.registration {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: linear-gradient(135deg, #C6012F,  red);
}

.registration .form-register {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 320px;
  padding: 40px 30px;
  border-radius: 10px;
  background-color: #0B184A;
  border: 1px solid #ccc;
  box-shadow: 0 10px 20px rgba(0,0,0,0.3);
}

.registration .form-register .title {
  font-size: 20px;
  color: #fff;
}

.registration .form-register .input-group label {
  display: block;
  margin-bottom: 5px;
  font-size: 14px;
  color: #E9E7E6;
}

.registration .form-register .input-group input {
  width: 100%;
  padding: 5px 10px;
  border-radius: 3px;
  border: 1px solid red;
  transition: all 0.3s ease;
}

.registration .form-register .input-group input:focus {
  outline: none;
  border-color: greenyellow;
}

.registration .form-register button {
  width: 100%;
  padding: 5px 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  cursor: pointer;
  border-radius: 3px;
  border: 1px solid #ccc;
  color: white;
  text-transform: uppercase;
  background: linear-gradient(#60B02F, #4F9220);
}

.registration .form-register .link {
  font-size: 13px;
  color: #E9E7E6;
}

.registration .form-register .link a {
  color: red;
  font-size: 14px;
  margin-left: 5px;
  font-weight: bold;
  text-decoration: none;
}

#message {
  color: coral;
  font-size: 14px;
}
/* registration area css code end */

/* login area css code start */
.login {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: linear-gradient(135deg, #C6012F, red);
}

.login .form-login {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 320px;
  padding: 40px 30px;
  border-radius: 10px;
  background-color: #0B184A;
  border: 1px solid #ccc;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
}

.login .form-login .title {
  font-size: 20px;
  color: #fff;
}

.login .form-login .input-group label {
  display: block;
  margin-bottom: 5px;
  font-size: 14px;
  color: #E9E7E6;
}

.login .form-login .input-group input {
  width: 100%;
  padding: 5px 10px;
  border-radius: 3px;
  border: 1px solid red;
  transition: all 0.3s ease;
}

.login .form-login .input-group input:focus {
  outline: none;
  border-color: greenyellow;
}

.login .form-login button {
  width: 100%;
  padding: 5px 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  cursor: pointer;
  border-radius: 3px;
  border: 1px solid #ccc;
  color: white;
  text-transform: uppercase;
  background: linear-gradient(#60B02F, #4F9220);
}

.login .form-login .link {
  font-size: 13px;
  color: #E9E7E6;
}

.login .form-login  .link a {
  color: red;
  font-size: 14px;
  margin-left: 5px;
  font-weight: bold;
  text-decoration: none;
}

/* login area css code end */

/* show all user page css code start */
.users {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: linear-gradient(135deg, #C6012F, red);
}

.users .user-area {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 320px;
  height: 460px;
  padding: 40px 30px;
  border-radius: 10px;
  background-color: #0B184A;
  border: 1px solid #ccc;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
}

.users .user-area .top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px dashed #fff;
  padding-bottom: 15px;
}

.users .user-area .top .title {
  font-size: 20px;
  color: #fff;
}

.users .user-area .top a {
  color: yellow;
  background-color: red;
  padding: 5px 10px;
  border-radius: 3px;
  text-decoration: none;
}

.users .user-area ul {
  display: flex;
  overflow-y: scroll;
  flex-direction: column;
  row-gap: 10px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.users .user-area ul li a {
  display: block;
  text-decoration: none;
  padding: 3px 5px;
  color: #fff;
  border: 1px dotted #ccc;
  transition: all 0.1s ease;
}

.users .user-area ul li a:hover {
  background-color: red;
  border-color: yellow;
}
/* show all user page css code end */

/* chat page css code start */
.chatpage {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: linear-gradient(135deg, #C6012F, red);
}

.chatpage .inner-box {
  display: flex;
  flex-direction: column;
  width: 320px;
  height: 460px;
  padding: 40px 30px;
  border-radius: 10px;
  background-color: #0B184A;
  border: 1px solid #ccc;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
}

.chatpage .inner-box .name {
  display: block;
  color: greenyellow;
  margin-bottom: 10px;
  text-decoration: none;
}

.chatpage .inner-box .top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.chatpage .inner-box .top .title {
  font-size: 20px;
  color: #fff;
}

.chatpage .inner-box .top a {
  color: yellow;
  background-color: red;
  padding: 5px 10px;
  border-radius: 3px;
  text-decoration: none;
}

.chatpage .inner-box .chat-area {
  overflow-y: scroll;
  border-radius: 5px 5px 0 0;
}

.chatpage .inner-box .chat-area::-webkit-scrollbar {
  display: none;
}

.chatpage .inner-box .chat-box {
  background-color: whitesmoke;
  min-height: 350px;
  padding: 10px;
}

.chatpage .inner-box .chat-box .chat {
  background-color: white;
  padding: 10px;
  margin-bottom: 10px;
  box-shadow: 0 7px 10px rgba(0, 0, 0, 0.3);
}

.chatpage .inner-box .chat-box .chat:nth-child(even) {
  background-color: wheat;
}

.chatpage .inner-box .chat-box .chat a {
  display: block;
  margin-bottom: 5px;
  text-decoration: none;
  font-weight: bold;
}

.chatpage .inner-box .chat-box .chat p {
  font-size: 15px;
}

.chatpage .inner-box .message-form {
  display: flex;
}

.chatpage .inner-box .message-form textarea {
  border: 1px solid #ccc;
  border-right: none;
  border-radius: 0 0 0 5px;
  box-sizing: border-box;
  resize: none;
  padding: 5px;
}

.chatpage .inner-box .message-form button {
  border: 1px solid #ccc;
  border-radius: 0 0 5px 0;
  box-sizing: border-box;
  padding-left: 5px;
  padding-right: 5px;
  cursor: pointer;
}

.chatpage .inner-box .message-form button:focus,
.chatpage .inner-box .message-form textarea:focus {
  outline: none;
}

/* chat page css code end */