$flaticon-font: "flaticon";

@font-face {
    font-family: $flaticon-font;
    src: url("./flaticon.ttf?78962642ed25809c54822f843b9c03e9") format("truetype"),
url("./flaticon.woff?78962642ed25809c54822f843b9c03e9") format("woff"),
url("./flaticon.woff2?78962642ed25809c54822f843b9c03e9") format("woff2"),
url("./flaticon.eot?78962642ed25809c54822f843b9c03e9#iefix") format("embedded-opentype"),
url("./flaticon.svg?78962642ed25809c54822f843b9c03e9#flaticon") format("svg");
}

i[class^="flaticon-"]:before, i[class*=" flaticon-"]:before {
    font-family: flaticon !important;
    font-style: normal;
    font-weight: normal !important;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

$flaticon-map: (
    "ambulance-1": "\f101",
    "ambulance-2": "\f102",
    "ambulance": "\f103",
    "analytics": "\f104",
    "bar-chart": "\f105",
    "book": "\f106",
    "books-stack-of-three": "\f107",
    "briefcase": "\f108",
    "browser": "\f109",
    "circular-alarm-clock-tool": "\f10a",
    "doctor-1": "\f10b",
    "doctor": "\f10c",
    "email": "\f10d",
    "emergency-call": "\f10e",
    "files": "\f10f",
    "handshake": "\f110",
    "home": "\f111",
    "html-file-extension-interface-symbol": "\f112",
    "html": "\f113",
    "idea": "\f114",
    "international-business": "\f115",
    "lamp": "\f116",
    "location": "\f117",
    "meeting": "\f118",
    "monitor": "\f119",
    "new-window": "\f11a",
    "pc-search": "\f11b",
    "pin": "\f11c",
    "refresh": "\f11d",
    "responsive": "\f11e",
    "seo-search-symbol": "\f11f",
    "seo": "\f120",
    "shopping-online": "\f121",
    "smartphone": "\f122",
    "stats": "\f123",
    "stethoscope-1": "\f124",
    "stethoscope": "\f125",
    "touch": "\f126",
    "ui": "\f127",
    "user": "\f128",
    "ux-interface": "\f129",
    "vector": "\f12a",
    "web-design": "\f12b",
    "web-programming": "\f12c",
    "web-site": "\f12d",
    "webpage": "\f12e",
);

.flaticon-ambulance-1:before {
    content: map-get($flaticon-map, "ambulance-1");
}
.flaticon-ambulance-2:before {
    content: map-get($flaticon-map, "ambulance-2");
}
.flaticon-ambulance:before {
    content: map-get($flaticon-map, "ambulance");
}
.flaticon-analytics:before {
    content: map-get($flaticon-map, "analytics");
}
.flaticon-bar-chart:before {
    content: map-get($flaticon-map, "bar-chart");
}
.flaticon-book:before {
    content: map-get($flaticon-map, "book");
}
.flaticon-books-stack-of-three:before {
    content: map-get($flaticon-map, "books-stack-of-three");
}
.flaticon-briefcase:before {
    content: map-get($flaticon-map, "briefcase");
}
.flaticon-browser:before {
    content: map-get($flaticon-map, "browser");
}
.flaticon-circular-alarm-clock-tool:before {
    content: map-get($flaticon-map, "circular-alarm-clock-tool");
}
.flaticon-doctor-1:before {
    content: map-get($flaticon-map, "doctor-1");
}
.flaticon-doctor:before {
    content: map-get($flaticon-map, "doctor");
}
.flaticon-email:before {
    content: map-get($flaticon-map, "email");
}
.flaticon-emergency-call:before {
    content: map-get($flaticon-map, "emergency-call");
}
.flaticon-files:before {
    content: map-get($flaticon-map, "files");
}
.flaticon-handshake:before {
    content: map-get($flaticon-map, "handshake");
}
.flaticon-home:before {
    content: map-get($flaticon-map, "home");
}
.flaticon-html-file-extension-interface-symbol:before {
    content: map-get($flaticon-map, "html-file-extension-interface-symbol");
}
.flaticon-html:before {
    content: map-get($flaticon-map, "html");
}
.flaticon-idea:before {
    content: map-get($flaticon-map, "idea");
}
.flaticon-international-business:before {
    content: map-get($flaticon-map, "international-business");
}
.flaticon-lamp:before {
    content: map-get($flaticon-map, "lamp");
}
.flaticon-location:before {
    content: map-get($flaticon-map, "location");
}
.flaticon-meeting:before {
    content: map-get($flaticon-map, "meeting");
}
.flaticon-monitor:before {
    content: map-get($flaticon-map, "monitor");
}
.flaticon-new-window:before {
    content: map-get($flaticon-map, "new-window");
}
.flaticon-pc-search:before {
    content: map-get($flaticon-map, "pc-search");
}
.flaticon-pin:before {
    content: map-get($flaticon-map, "pin");
}
.flaticon-refresh:before {
    content: map-get($flaticon-map, "refresh");
}
.flaticon-responsive:before {
    content: map-get($flaticon-map, "responsive");
}
.flaticon-seo-search-symbol:before {
    content: map-get($flaticon-map, "seo-search-symbol");
}
.flaticon-seo:before {
    content: map-get($flaticon-map, "seo");
}
.flaticon-shopping-online:before {
    content: map-get($flaticon-map, "shopping-online");
}
.flaticon-smartphone:before {
    content: map-get($flaticon-map, "smartphone");
}
.flaticon-stats:before {
    content: map-get($flaticon-map, "stats");
}
.flaticon-stethoscope-1:before {
    content: map-get($flaticon-map, "stethoscope-1");
}
.flaticon-stethoscope:before {
    content: map-get($flaticon-map, "stethoscope");
}
.flaticon-touch:before {
    content: map-get($flaticon-map, "touch");
}
.flaticon-ui:before {
    content: map-get($flaticon-map, "ui");
}
.flaticon-user:before {
    content: map-get($flaticon-map, "user");
}
.flaticon-ux-interface:before {
    content: map-get($flaticon-map, "ux-interface");
}
.flaticon-vector:before {
    content: map-get($flaticon-map, "vector");
}
.flaticon-web-design:before {
    content: map-get($flaticon-map, "web-design");
}
.flaticon-web-programming:before {
    content: map-get($flaticon-map, "web-programming");
}
.flaticon-web-site:before {
    content: map-get($flaticon-map, "web-site");
}
.flaticon-webpage:before {
    content: map-get($flaticon-map, "webpage");
}
