@charset "UTF-8";
@font-face {
  font-family: "flaticon";
  src: url("./flaticon.ttf?78962642ed25809c54822f843b9c03e9") format("truetype"), url("./flaticon.woff?78962642ed25809c54822f843b9c03e9") format("woff"), url("./flaticon.woff2?78962642ed25809c54822f843b9c03e9") format("woff2"), url("./flaticon.eot?78962642ed25809c54822f843b9c03e9#iefix") format("embedded-opentype"), url("./flaticon.svg?78962642ed25809c54822f843b9c03e9#flaticon") format("svg");
}

i[class^="flaticon-"]:before, i[class*=" flaticon-"]:before {
  font-family: flaticon !important;
  font-style: normal;
  font-weight: normal !important;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.flaticon-ambulance-1:before {
  content: "";
}

.flaticon-ambulance-2:before {
  content: "";
}

.flaticon-ambulance:before {
  content: "";
}

.flaticon-analytics:before {
  content: "";
}

.flaticon-bar-chart:before {
  content: "";
}

.flaticon-book:before {
  content: "";
}

.flaticon-books-stack-of-three:before {
  content: "";
}

.flaticon-briefcase:before {
  content: "";
}

.flaticon-browser:before {
  content: "";
}

.flaticon-circular-alarm-clock-tool:before {
  content: "";
}

.flaticon-doctor-1:before {
  content: "";
}

.flaticon-doctor:before {
  content: "";
}

.flaticon-email:before {
  content: "";
}

.flaticon-emergency-call:before {
  content: "";
}

.flaticon-files:before {
  content: "";
}

.flaticon-handshake:before {
  content: "";
}

.flaticon-home:before {
  content: "";
}

.flaticon-html-file-extension-interface-symbol:before {
  content: "";
}

.flaticon-html:before {
  content: "";
}

.flaticon-idea:before {
  content: "";
}

.flaticon-international-business:before {
  content: "";
}

.flaticon-lamp:before {
  content: "";
}

.flaticon-location:before {
  content: "";
}

.flaticon-meeting:before {
  content: "";
}

.flaticon-monitor:before {
  content: "";
}

.flaticon-new-window:before {
  content: "";
}

.flaticon-pc-search:before {
  content: "";
}

.flaticon-pin:before {
  content: "";
}

.flaticon-refresh:before {
  content: "";
}

.flaticon-responsive:before {
  content: "";
}

.flaticon-seo-search-symbol:before {
  content: "";
}

.flaticon-seo:before {
  content: "";
}

.flaticon-shopping-online:before {
  content: "";
}

.flaticon-smartphone:before {
  content: "";
}

.flaticon-stats:before {
  content: "";
}

.flaticon-stethoscope-1:before {
  content: "";
}

.flaticon-stethoscope:before {
  content: "";
}

.flaticon-touch:before {
  content: "";
}

.flaticon-ui:before {
  content: "";
}

.flaticon-user:before {
  content: "";
}

.flaticon-ux-interface:before {
  content: "";
}

.flaticon-vector:before {
  content: "";
}

.flaticon-web-design:before {
  content: "";
}

.flaticon-web-programming:before {
  content: "";
}

.flaticon-web-site:before {
  content: "";
}

.flaticon-webpage:before {
  content: "";
}
/*# sourceMappingURL=flaticon.css.map */